<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>

 
   <div class="container">
      <div class="card-group">
      <app-goal-shop></app-goal-shop>
    </div>
   </div>
    



  <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>The Post</h2>
      <ul class="list-group">
          <app-blog *ngFor="let posts of mypost "
            [titre]="posts.tel"
            [cont]="posts.content"
            [dat]="posts.created_at"
            [love]="posts.loveIts">
        </app-blog>
      </ul>
    </div>
  </div>
</div>