.headSection {
  width: 100%;
}

#logo {
  height: 100px;
  width: 100px;
  margin-right: 4rem;
  }

.mainArea {
  width: 100%;
}

.widgetArea {
  width: 25%;
}

.mat-cart {
  padding: 1rem;
}

mat-list-item {
  cursor: pointer;
}

