<app-header
  pageTitle="Laptopshop"
  helpTitle="Help text for home page"
></app-header>
<section class="headSection" fxLayout="row" fxLayoutAlign="start end" (scroll)="onWindowScroll($event);">
  <h3>Choose criteria <br />to filter results:</h3>
  <div class="searchInput">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div fxLayout="row">
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Enter search text ..."
          ngModel
          name="searchValue"
        />
        <mat-card-actions>
          <button  mat-raised-button type="submit"  color="primary">Search</button>
      </mat-card-actions>
      </mat-form-field>
        </div>
    </form>
  </div>
</section>

<section class="mainArea" fxLayout="row" fxLayoutAlign="start">
  <div class="widgetArea" fxLayout="column" fxLayoutAlign="start">
    <form #form="ngForm" (ngSubmit)="search(form)">
      <mat-card fxLayout="column" class="brandWidget">
          <mat-card-title>Brand Name</mat-card-title>
          <div ngModelGroup="brandName">
            <mat-radio-group ngModel name="brandNameValue" fxLayout="column">
                <mat-radio-button value="acer">Acer</mat-radio-button>
                <mat-radio-button value="alienware">Alienware</mat-radio-button>
                <mat-radio-button value="apple">Apple</mat-radio-button>
                <mat-radio-button value="asus">Asus</mat-radio-button>
                <mat-radio-button value="dell">Dell</mat-radio-button>
                <mat-radio-button value="google">Google</mat-radio-button>
                <mat-radio-button value="hp">HP</mat-radio-button>
                <mat-radio-button value="huawai">Huawai</mat-radio-button>
                <mat-radio-button value="hyundai">Hyundai</mat-radio-button>
                <mat-radio-button value="lg">LG</mat-radio-button>
                <mat-radio-button value="latitude">Latitude</mat-radio-button>
                <mat-radio-button value="lenovo">Lenovo</mat-radio-button>
                <mat-radio-button value="msi">MSI</mat-radio-button>
                <mat-radio-button value="microsft">Microsoft</mat-radio-button>
                <mat-radio-button value="notebook_flexx">Notebook flexx</mat-radio-button>
                <mat-radio-button value="panasonic">Panasonic</mat-radio-button>
                <mat-radio-button value="proscan">Proscan</mat-radio-button>
                <mat-radio-button value="razar">Razar</mat-radio-button>
                <mat-radio-button value="samsung">Samsung</mat-radio-button>
                <mat-radio-button value="xps">XPS</mat-radio-button>
                <mat-radio-button value="jumper">Jumper</mat-radio-button>
            </mat-radio-group>
            <mat-slider [ngModel]="1" min="1" max="5" step="1" name="weight" ></mat-slider>
          </div>
      </mat-card>

      <mat-card fxLayout="column" class="manufacturer">
        <mat-card-title>Processor Manufacturer</mat-card-title>
        <div ngModelGroup="chipsetBrand">
          <mat-radio-group ngModel name="chipsetBrandValue" fxLayout="column">
              <mat-radio-button value="intel">Intel</mat-radio-button>
              <mat-radio-button value="nvidia">Nvidia</mat-radio-button>
              <mat-radio-button value="amd">AMD</mat-radio-button>
              <mat-radio-button value="mediatek">MediaTek</mat-radio-button>
          </mat-radio-group>
          <mat-slider [ngModel]="1" min="1" max="5" step="1" name="weight"></mat-slider>
        </div>
      </mat-card>

      <mat-card fxLayout="column" class="ramWidget">
        <mat-card-title>RAM</mat-card-title>
        <div ngModelGroup="ram">
          <mat-radio-group fxLayout="column" ngModel name="ramValue">
              <mat-radio-button [value]="2">2</mat-radio-button>
              <mat-radio-button [value]="4">4</mat-radio-button>
              <mat-radio-button [value]="8">8</mat-radio-button>
          </mat-radio-group>
          <mat-slider [ngModel]="1" min="1" max="5" step="1" name="weight"></mat-slider>
        </div>
    </mat-card>

      <mat-card fxLayout="column" class="processorType">
          <mat-card-title>Processor Type</mat-card-title>
          <div ngModelGroup="processorType">
            <mat-select class="processorType" ngModel name="processorTypeValue" >
              <mat-option *ngFor="let processorType of processorTypes"  [value]="processorType ">
                    {{processorType }}
              </mat-option>
            </mat-select>
            <mat-slider [ngModel]="1" min="1" max="5" step="1" name="weight"></mat-slider>
          </div>
      </mat-card>

       <mat-card fxLayout="column" class="processorSpeed">
          <mat-card-title>Processor Speed</mat-card-title>
         <div ngModelGroup="processorSpeed">
            <mat-select class="processorSpeed" ngModel name="processorSpeedValue" >
              <mat-option *ngFor="let processorSpeed of processorSpeeds"  [value]="processorSpeed">
                    {{processorSpeed }}
              </mat-option>
            </mat-select>
           <mat-slider [ngModel]="1" min="1" max="5" step="1" name="weight"></mat-slider>
         </div>
      </mat-card>

      <mat-card fxLayout="column" class="processorCount">
          <mat-card-title>Processor Count</mat-card-title>
          <div ngModelGroup="processorCount">
            <mat-select class="processorCount" ngModel name="processorCountValue" >
              <mat-option *ngFor="let processorCount of processorCounts"  [value]="processorCount ">
                    {{processorCount }}
              </mat-option>
            </mat-select>
            <mat-slider [ngModel]="1" min="1" max="5" step="1" name="weight"></mat-slider>
          </div>
      </mat-card>

      <mat-card class="priceWidget">
        <mat-card-title fxLayout="column">Price</mat-card-title>
        <div ngModelGroup="price">
          <div fxLayout="row" fxLayoutGap="5%" >
            <input matInput ngModel placeholder="min" name="minValue" >
            <input matInput ngModel placeholder="max"  name="maxValue" >
            $
          </div>
          <div fxLayout="row">
              <mat-slider [ngModel]="1" min="1" max="5" step="1" name="weight" ></mat-slider>
          </div>
        </div>
        <!-- <range-slider [min]="min" [max]="max" [toolTips]="[false,false]" [(ngModel)]="twoWayRange">        </range-slider> -->
      </mat-card>
<!--      <mat-card fxLayout="column" class="displaySizeWidget">-->
<!--        <mat-card-title>Displaysize</mat-card-title>-->
<!--        <div ngModelGroup="DisplaySize">-->
<!--          <mat-checkbox>-->
<!--            25 cm (10") and less-->
<!--          </mat-checkbox>-->
<!--          <mat-checkbox>-->
<!--            28 - 30 cm (11" - 12")-->
<!--          </mat-checkbox>-->
<!--          <mat-checkbox>-->
<!--            33 - 36 cm (13" - 14")-->
<!--          </mat-checkbox>-->
<!--          <mat-checkbox>-->
<!--            38 - 41 cm (15" - 16")-->
<!--          </mat-checkbox>-->
<!--          <mat-checkbox>-->
<!--            43 cm (17") and above-->
<!--          </mat-checkbox>-->
<!--        </div>-->
<!--      </mat-card>-->

      <mat-card fxLayout="column" class="brandWidget">
          <mat-card-title>Hard Drive Type</mat-card-title>
          <div ngModelGroup="hardDriveType"  fxLayout="column">
            <mat-radio-group ngModel name="hardDriveTypeValue" fxLayout="column">
                <mat-radio-button value="hdd">HDD</mat-radio-button>
                <mat-radio-button value="ssd">SSD</mat-radio-button>
                <mat-radio-button value="hybrid">Hybrid</mat-radio-button>
            </mat-radio-group>
            <mat-slider [ngModel]="1" min="1" max="5" step="1" name="weight"></mat-slider>
          </div>
      </mat-card>

      <mat-card fxLayout="column" class="hardDriveWidget">
        <mat-card-title>Hard Drive Capacity</mat-card-title>
        <div ngModelGroup="hardDriveSize" fxLayout="column">
          <div fxLayout="row">
            <input matInput ngModel placeholder="Capacity"  name="hardDriveSizeValue"> GB
          </div>
          <mat-slider [ngModel]="1" min="1" max="5" step="1" name="weight"></mat-slider>
        </div>
        <!--<mat-checkbox>
          Up to 159 GB
        </mat-checkbox>
        <mat-checkbox>
          160 - 249 GB
        </mat-checkbox>
        <mat-checkbox>
          250 - 499 GB
        </mat-checkbox>
        <mat-checkbox>
          500 GB and more
        </mat-checkbox>-->
      </mat-card>

      <mat-card fxLayout="column" class="hardDriveWidget">
        <mat-card-title>Operating System</mat-card-title>
        <div ngModelGroup="operatingSystem"  fxLayout="column">
            <mat-radio-group ngModel name="operatingSystemValue" fxLayout="column">
                <mat-radio-button value="Windows">Windows 7</mat-radio-button>
                <mat-radio-button value="Windows">Windows 8</mat-radio-button>
                <mat-radio-button value="Windows">Windows 10</mat-radio-button>
                <mat-radio-button value="Mac OS">Mac OS</mat-radio-button>
            </mat-radio-group>
            <mat-slider [ngModel]="1" min="1" max="5" step="1" name="weight"></mat-slider>
        </div>
<!--        <mat-checkbox>-->
<!--          Windows 7-->
<!--        </mat-checkbox>-->
<!--        <mat-checkbox>-->
<!--          Windows 8-->
<!--        </mat-checkbox>-->
<!--        <mat-checkbox>-->
<!--          Windows 10-->
<!--        </mat-checkbox>-->
<!--        <mat-checkbox>-->
<!--          DOS-->
<!--        </mat-checkbox>-->
<!--        <mat-checkbox>-->
<!--          Mac OS-->
<!--        </mat-checkbox>-->
<!--        <mat-checkbox>-->
<!--          No Operating System-->
<!--        </mat-checkbox>-->
      </mat-card>
      <mat-card-actions>
          <button  mat-raised-button type="submit"  color="primary">Search</button>
      </mat-card-actions>
    </form>
  </div>

  <div class="listArea" fxLayout="column" fxLayoutAlign="start">
    <mat-list>
      <mat-list-item *ngFor="let laptop of laptops" routerLink="/details">
        <img matListAvatar src="{{laptop.imagePath}}" *ngIf="laptop.imagePath"/>
        <img matListAvatar src="../assets/images/no-image.png" *ngIf="!laptop.imagePath"/>
        <h3 matLine>{{ laptop.productTitle }}</h3>
<!--        <p matLine>-->
<!--          Processor Type: {{ laptop.processorType }} @-->
<!--          {{ laptop.processorCount }} x {{ laptop.processorSpeed }} Ghz-->
<!--        </p>-->
<!--        <p matLine>OS: {{ laptop.operatingSystem }}</p>-->
        <p matLine>
          Hard Drive Type: {{ laptop.hardDriveType }}
        </p>
        <p matLine *ngIf="laptop.hddSize"> HDD Size: {{ laptop.hddSize }}</p>
        <p matLine *ngIf="laptop.ssdSize"> SSD Size: {{ laptop.ssdSize }}</p>
        <p matLine > processor : {{ laptop.chipsetBrand }}</p>
        <strong matLine>Price: {{ laptop.price }} $</strong>
        <!-- <p>{{ laptop.productDimension[0] }} x {{ laptop.productDimension[1] }} x {{ laptop.productDimension[2] }}</p> -->
      </mat-list-item>
    </mat-list>

    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
      />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.productTitle }}
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</section>
