<app-header
  pageTitle="Laptopshop"
  helpTitle="Help text for home page"
></app-header>
<section
  class="headSection"
  fxLayout="row"
  fxLayoutAlign="start end"
  (scroll)="onWindowScroll($event)"
>
  <h3>Choose criteria <br />to filter results:</h3>
  <div class="searchInput">
    <form [formGroup]="globalForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Enter search text ..."
          formControlName="globalSearch"
          name="searchValue"
        />
      </mat-form-field>
    </form>
  </div>
</section>

<section class="mainArea" fxLayout="row" fxLayoutAlign="start">
  <div class="widgetArea" fxLayout="column" fxLayoutAlign="start">
    <form [formGroup]="widgetForm" (ngSubmit)="onSubmit()">
      <mat-card fxLayout="column" formGroupName="brandName">
        <mat-card-title>Brand Name</mat-card-title>
        <div *ngFor="let brand of brands">
          <mat-checkbox
            (change)="onChange($event, 'brandName', 'brandNameValue')"
            [value]="brand.id"
            >{{ brand.name }}</mat-checkbox
          >
        </div>
        <mat-slider
          formControlName="weight"
          [attr.color]="5 ? 'warn' : 'primary'"
          id ="holo"
          min="1"
          max="5"
          step="1"
          (input)="onInputChange($event)"
        ></mat-slider>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <span>optional</span>
          <span>must have</span>
        </div>
      </mat-card>

      <mat-card fxLayout="column" formGroupName="chipsetBrand">
        <mat-card-title>Chipset Brand</mat-card-title>
        <div *ngFor="let option of chipsetBrands">
          <mat-checkbox
            (change)="onChange($event, 'chipsetBrand', 'chipsetBrandValue')"
            [value]="option.id"
            >{{ option.name }}</mat-checkbox
          >
        </div>
        <mat-slider
          formControlName="weight"
          min="1"
          max="5"
          step="1"
        ></mat-slider>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <span>optional</span>
          <span>must have</span>
        </div>
      </mat-card>

      <mat-card fxLayout="column" formGroupName="chipsetBrand">
        <mat-card-title>Screen Size</mat-card-title>
        <div *ngFor="let option of screenSizes">
          <mat-checkbox
            (change)="onChange($event, 'screenSize', 'screenSizeValue')"
            [value]="option.id"
            >{{ option.name }}</mat-checkbox
          >
        </div>
        <mat-slider
          formControlName="weight"
          min="1"
          max="5"
          step="1"
        ></mat-slider>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <span>optional</span>
          <span>must have</span>
        </div>
      </mat-card>

      <mat-card fxLayout="column" formGroupName="processorType">
        <mat-card-title>Processor Type</mat-card-title>
        <div *ngFor="let option of processorTypes">
          <mat-checkbox
            (change)="onChange($event, 'processorType', 'processorTypeValue')"
            [value]="option.id"
            >{{ option.name }}</mat-checkbox
          >
        </div>
        <mat-slider
          formControlName="weight"
          min="1"
          max="5"
          step="1"
        ></mat-slider>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <span>optional</span>
          <span>must have</span>
        </div>
      </mat-card>

      <mat-card fxLayout="column" formGroupName="chipsetBrand">
        <mat-card-title>Processor Speed</mat-card-title>
        <div *ngFor="let option of processorSpeeds">
          <mat-checkbox
            (change)="onChange($event, 'processorSpeed', 'processorSpeedValue')"
            [value]="option.id"
            >{{ option.name }}</mat-checkbox
          >
        </div>
        <mat-slider
          formControlName="weight"
          min="1"
          max="5"
          step="1"
        ></mat-slider>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <span>optional</span>
          <span>must have</span>
        </div>
      </mat-card>

      <mat-card fxLayout="column" formGroupName="hardDriveType">
        <mat-card-title>Hard Drive Type</mat-card-title>
        <div *ngFor="let option of hardDriveTypes">
          <mat-checkbox
            (change)="onChange($event, 'hardDriveType', 'hardDriveTypeValue')"
            [value]="option.id"
            >{{ option.name }}</mat-checkbox
          >
        </div>
        <mat-slider
          formControlName="weight"
          min="1"
          max="5"
          step="1"
        ></mat-slider>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <span>optional</span>
          <span>must have</span>
        </div>
      </mat-card>

      <mat-card fxLayout="column" formGroupName="hardDriveSize">
        <mat-card-title>Hard Drive Size</mat-card-title>
        <div *ngFor="let option of hardDriveSizes">
          <mat-checkbox
            (change)="onChange($event, 'hardDriveSize', 'hardDriveSizeValue')"
            [value]="option.id"
            >{{ option.name }}</mat-checkbox
          >
        </div>
        <mat-slider
          formControlName="weight"
          min="1"
          max="5"
          step="1"
        ></mat-slider>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <span>optional</span>
          <span>must have</span>
        </div>
      </mat-card>

      <mat-card fxLayout="column" formGroupName="operatingSystem">
        <mat-card-title>Operating System</mat-card-title>
        <div *ngFor="let option of operatingSystems">
          <mat-checkbox
            (change)="
              onChange($event, 'operatingSystem', 'operatingSystemValue')
            "
            [value]="option.id"
            >{{ option.name }}</mat-checkbox
          >
        </div>
        <mat-slider
          formControlName="weight"
          min="1"
          max="5"
          step="1"
        ></mat-slider>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <span>optional</span>
          <span>must have</span>
        </div>
      </mat-card>

      <mat-card fxLayout="column" formGroupName="operatingSystem">
        <mat-card-title>Ram Size</mat-card-title>
        <div *ngFor="let option of ramOptions">
          <mat-checkbox
            (change)="onChange($event, 'ramSize', 'ramSizeValue')"
            [value]="option.id"
            >{{ option.name }}</mat-checkbox
          >
        </div>
        <mat-slider
          formControlName="weight"
          min="1"
          max="5"
          step="1"
        ></mat-slider>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <span>optional</span>
          <span>must have</span>
        </div>
      </mat-card>

      <mat-card fxLayout="column" formGroupName="weight">
        <mat-card-title>Weight</mat-card-title>
        <div *ngFor="let option of weights">
          <mat-checkbox
            (change)="onChange($event, 'weight', 'weightValue')"
            [value]="option.id"
            >{{ option.name }}</mat-checkbox
          >
        </div>
        <mat-slider
          formControlName="weight"
          min="1"
          max="5"
          step="1"
        ></mat-slider>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <span>optional</span>
          <span>must have</span>
        </div>
      </mat-card>

      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary">Search</button>
      </mat-card-actions>
    </form>
  </div>

  <div class="listArea" fxLayout="column" fxLayoutAlign="start">
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
      />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort *ngIf="laptops">
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Product Image</th>
        <td
          mat-cell
          *matCellDef="let element"
          [routerLink]="['/details', element.asin]"
        >
          <img
            style="width:120px"
            src="{{ element.imagePath }}"
            alt="Product Image"
          />
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td
          mat-cell
          *matCellDef="let element"
          [routerLink]="['/details', element.asin]"
        >
          {{ element.productTitle }}
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</section>
