<app-header pageTitle="Details"  helpTitle="Help text for details page"></app-header>
<mat-card class=alexa-sign>
  <mat-card-header>
    <div mat-card-avatar class="alexa-image"></div>
    <mat-card-title>Hint: Use Amazon Alexa to refine your query!</mat-card-title>
    <mat-card-subtitle>(e.g. " I'm looking for a bigger screen")</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card  fxLayout="row"  fxLayoutGap="20px" style="padding:20px">
  
   <mat-card-content >
      <img    style="width: 200px;height:200px"mat-card-lg-image src="assets\surface.jpeg" alt="surf" >
   </mat-card-content>

   <mat-card-content  >
   <p><strong>Lenovo IdeaPad 320 Business 15.6\" HD Touchscreen Laptop, Intel Quad-Core i7-8550U 1.8GHz 12GB DDR4 256GB SSD DVDRW Dolby Audio 802.11ac Bluetooth USB Type-C Windows 10 (Certified Refurbished)</strong> </p> 
    <div>
        <strong>Brand: </strong> Intel<br>
        <strong>RAM: </strong> 8 GB<br>
        <strong>Hard drive capacity: </strong>256 GB<br>
        <strong>Display size: </strong>13 Zoll<br>
        <strong>Operatin System: </strong>Linux OS<br>
        <strong>Display Resolution: </strong> FHD
        
        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
          <div><button mat-raised-button color="primary" >  Back</button></div>
            <div><button mat-raised-button color="accent">Add to basket</button></div>
          <!--<button type="button" style="background-color:blue; color:red">Add to basket</button>-->
        </div>
 
    </div>
   </mat-card-content>
</mat-card>

<mat-card  >
    <p><strong>Product Description:</strong></p>
    <div>
        Das Lenovo  IdeaPad 320  ist ein zuverlässiges Notebook, das mit einem Intel® Core i5 Prozessor der 7. Generation ausgestattet ist und genug Leistung für Home-Office- und Privatanwendungen bietet. Ein mattes 15,6-Zoll-Display mit Full HD Auflösung ermöglicht ein augenschonendes Arbeiten in heller Umgebung.
        Mattes Display für entspannteres Arbeiten
        Das matte 15,6-Zoll-LED-Display des Lenovo V130-15IKB Notebooks sorgt mit einer Full HD Auflösung von 1920 x 1080 Pixel für ermüdungsfreies Sehen über den ganzen Arbeitstag und verhindert störende Reflexionen. Eine komfortable Eingabe ermöglicht die Lenovo-Tastatur in Standardgröße inklusive Nummernblock
        
    </div>
    
 </mat-card>

 <!--
   <div >
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
 -->
    



<!--
  <mat-card class="example-card">
  <mat-card-content>
    <mat-card-title-group>
        
          <img mat-card-lg-image src="assets\surface.jpeg" alt="surf" >
      
      <mat-card-title>Lenovo IdeaPad 320 Business 15.6\" HD Touchscreen Laptop, Intel Quad-Core i7-8550U 1.8GHz 12GB DDR4 256GB SSD DVDRW Dolby Audio 802.11ac Bluetooth USB Type-C Windows 10 (Certified Refurbished)</mat-card-title>
      <mat-card-subtitle><strong>Brand: </strong><br>
                         <strong>RAM: </strong><br>
                         <strong>Hard drive capacity: </strong><br>
                         <strong>Display size: </strong><br>
                         <strong>Operatin System: </strong><br>
                         <strong>Display Resolution: </strong>
        </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-content>
</mat-card>
-->

  

<!--
  <mat-card-actions  style="align:end">
    pratices makes better
  </mat-card-actions>
-->

<!--
<ul>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial"
        >Tour of Heroes</a
      >
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://angular.io/cli"
        >CLI Documentation</a
      >
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/"
        >Angular blog</a
      >
    </h2>
  </li>
</ul>

-->
